*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}
header{
    background-color: #4e2a83;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    text-transform: uppercase;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
.header1 h1{
    font-size: 3rem;
    padding-left: 17rem;
}
.header2 ul{
    padding-right: 6rem;
}
.header2 ul li{
    list-style: none;
    display: inline;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 0.5rem;
}
ul li .home{
    color: #ff0e83;
}
ul li a:hover{
    color: #ff0e83;
    transition: all 0.5s;
}
#carousel{
    background-image: url(./../images/b3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 575px;
    color: white;
    position: relative;
    text-align: center;
}
.carousel1 .carousel-bake{
    font-size: 3rem;
    padding: 1.5rem;
}
#carousel .carousel1{
    position: absolute;
    top: 7rem;
    left: 30rem;
}
.carousel1 p{
    font-size: 1.2rem;
}
.carousel1 button{
    width: 9rem;
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid white;
    background-color: #ff0e83;
    color: white;
    margin-top: 2rem;
}
.carousel1 button:hover{
    color: black;
    background-color: white;
    border: 1px solid #ff0e83;
    transition: all 0.5s;
}
#intro .intro1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
}
.intro1 .item{
    text-align: center;
}
.item .text{
    padding: 7rem 2rem;
    height: 100%;
}
.text h1{
    font-size: 2.5rem;
    margin: 1rem 0;
}
.text p{
    font-size: 1.2rem;
}
.item .t1{
    background-color: #4e2a83;
}
#intro .item img{
    width: 100%;
    height: 100%;
}
#intro .img1{
    grid-column: 2 / span 2;
}
.item .t2{
    background-color: #ff0e83;
}
#intro .t3{
    grid-column: 1 / span 2;
    background-color: #ed6498;
}
#intro .t4{
    background-color: #836eaa;
}
#intro .img2{
    grid-column: 3 / span 2;
}
#count{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 4rem auto;
    text-align: center;
}
.count-up p{
    font-size: 2.5rem;
    color: #4e2a83;
}
#service{
    background-image: url(./../images/s1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 688px;
    padding: 3rem 0;
}
#service .service-h1{
    font-size: 5rem;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}
#service .service-content{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}
.service-content i{
    width: 7rem;
    height: 7rem;
    line-height: 108px;
    font-size: 4rem;
    border-radius: 100%;
    border: 1px solid #4e2a83;
    color: #4e2a83;
    background-color: white;
    padding-left: 3px;
}
.service-content h3{
    font-size: 2rem;
    margin: 2rem 0;
}
.service-content button{
    width: 9rem;
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid white;
    background-color: #ff0e83;
    color: white;
    margin-top: 2rem;
}
.service-content button:hover{
    color: black;
    background-color: white;
    border: 1px solid #ff0e83;
    transition: all 0.5s;
}
.service-content i:hover{
    color: #ff0e83;
    transition: all 0.5s;
}
#gallery .gallery-h1{
    text-align: center;
    font-size: 4rem;
    margin: 3rem;
    text-transform: uppercase;
}
.gallery-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 95%;
    margin: 0 auto;
    color: white;
    gap: 2rem;
}
.gallery-item{
    position: relative;
}
.gallery-content img{
    width: 100%;
    height: 100%;
}
.gallery-content .g1{
    grid-column: 1 / span 2;
}  
.text h3{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    width: 100%;
    text-align: right;
    transform: translateY(50px);
}
.gallery-content .gallery-item:hover h3{
    transform: translateY(0);
    transition: all 0.5s;
}
.gallery-content h3::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    display: block;
    opacity: 0;
    transform: translateY(0);
}
.gallery-content .gallery-item:hover h3::after{
    opacity: 1;
    transform: translateY();
    transition: all 0.5s;
}
.gallery-content .gallery-item p{
    opacity: 0;
    transform: translateY(50px);
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    text-align: right;
}
.gallery-content .gallery-item:hover p{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s;
}
.gallery-content .g6{
    grid-column: 3 / span 2;
}
#bake-team{
    background-color: #4e2a83;
    margin-top: 3rem;
    color: white;
}
#bake-team .bake-h1{
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 2rem;
}
#bake-team .bake-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.bake-item{
    position: relative;
    width: 30%;
    margin-bottom: 4rem;
}
.bake-item img{
    width: 100%;
}
.bake-item .text1{
    background-color: #ff0e83;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 9rem;
    font-size: 2rem;
    padding: 2rem;
    opacity: 1;
}
.bake-item:hover .text1{
    opacity: 0;
    transition: all 0.5s;
}
.bake-item .text2 h4{
    font-size: 2.5rem;
    color: #ff0e83;
}
.bake-item .text2 p{
    font-size: 1rem;
    margin: 1rem 0;
}
.bake-item .text2 span{
    font-size: 2rem;
}
.bake-item .text2 i{
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    font-size: 1.3rem;
    line-height: 3.3rem;
    padding-left: 1rem;
    margin-right: 1rem;
}
.bake-item .text2{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000006b;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 4rem;
}
.bake-item:hover .text2{
        opacity: 1;
        transition: all 0.5s;
}
.bake-item a{
    color: white;
}
.bake-item i:hover{
    color: #ff0e83;
    border: 1px solid #ff0e83;
    transition: all 0.5s;
}
#test{
    background-image: url(./../images/cc1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
#test .test-h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    padding: 2rem;
    text-align: center;
}
#test .test-content{
    width: 70%;
    margin: 0 auto;
    border: 6px solid #ff0e83;
    background-color: #ffffff99;
    text-align: center;
    height: 200px;
    padding: 3rem 0;
}
.test-text p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.test-text h2{
    color: white;
    text-transform: uppercase;
}
#contract .contract-h1{
    color: black;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 2rem;
}

.contract-content form{
    display: flex;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.contract-content .contract-input{
    width: 50%;
    padding: 10px;
}
.contract-content .textarea{
    width: 100%;
}
.contract-content textarea{
    width: 100%;
    padding: 1rem;
}
.contract-input input{
    width: 100%;
    height: 5rem;
    padding: 1rem;
}
.contract-content .btn{
    width: 99%;
    background-color: #ff0e83;
    text-align: center;
    margin-left: 6px;
    height: 5rem;
    font-size: 2.5rem;
}
#map iframe{
    width: 100%;
    height: 500px;
    margin: 2rem 0;
}
#mail{
    margin: 2rem;
}
#mail .mail-content{
    display: flex;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.mail-content .mail-item{
    width: 30%;
}
.mail-item i{
    color: #4e2a83;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.mail-item p{
    font-size: 1.8rem;
}
footer{
    background-color: black;
    height: 650px;
    text-align: left;
    color: white;
}
footer .footer-content{
    display: flex;
    width: 90%;
    margin: 3rem auto;
    height: 75%;
}
.footer-content .footer-item{
    width: 30%;
    margin: 5rem auto;
}
.footer-item h1{
    color: #ff0e83;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.footer-item p{
    width: 70%;
    font-size: 1.3rem;
    line-height: 36px;
}
.footer-item ul li{
    list-style: none;
}
.footer-item ul li::after{
    content: "";
    border: 1px dotted;
    width: 68%;
    display: block;
}
.footer-item ul li p{ 
    display: inline;
}
.footer-item ul li span{
    margin-left: 5rem;
    text-align: right;
}
.footer-item input{
    width: 70%;
    height: 3rem;
    border-radius: 6px;
}
.footer-item button{
    margin: 1.5rem 0;
    height: 3rem;
    border-radius: 11px;
    background-color: #ff0e83;
    width: 30%;
    font-size: 1.3rem;
}
.footer-item1{
    text-align: center;
    margin: 6rem 0;
    font-size: 1.3rem;
}
.footer-item1 p{
    display: inline;
}
.footer-item1 .border-right{
    border-right: 1px solid white;
    padding-right: 10px;
    margin-right: 10px;
}
.footer-item1 span{
    color: #ff0e83;
    padding-left: 5px;
}
.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;

}
.back-to-top i{
    font-size: 2rem;
    color: white;
    width: 3rem;
    height: 3rem;
    border: 1px solid #82c91e;
    border-radius: 50%;
    padding-top: 4px;
    padding-left: 9px;
}
.cd-top--is-visible { // back-to-top button visible
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top--fade-out { // reduce button opacity if user keeps scrolling
    opacity: .5;
  }